language: python

services:
  - docker

script:
  - "cp cfr.env.example cfr.env"
  - "docker-compose up -d --build > /dev/null"
  - "[[ $(curl -s -o /dev/null -w '%{http_code}' localhost) == 200 ]]"
  - "[[ $(curl -s -o /dev/null -w '%{http_code}' localhost/nope) == 404 ]]"
  - "[[ $(curl -s -o /dev/null -w '%{http_code}' localhost/error) == 500 ]]"